@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* { padding:0px; margin:0px; }
html { font-size:100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; }
ol, ul { list-style: none; }
:focus { outline: 0; }
a, a:link { text-decoration: none; outline:none; }
p { padding:5px 0; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
.clear { clear:both; }
a { color:#020a55; text-decoration:none;}
a:hover { text-decoration:none; color:#000; }

:hover{transition: all 0.5s ease;}

body{ margin:0; padding:0; font-size:12px; color:#000000; font-family: 'Raleway', sans-serif;}

img{ max-width:100%; height:auto;}

.top-sec{font-family: 'Roboto', sans-serif;}
.top-sec ul{ margin:0; padding:0; float:right;}
.top-sec ul li{ margin:0; padding:7px 12px 9px 12px; float:left; border-left:1px solid #ccc8c8; font-size:14px; color:#434343;}
.top-sec ul li a{ color:#434343;}
.top-sec ul li a:hover{ color:#bc292f;}
.top-sec ul li:first-child{ border:none;}
.top-sec ul li:last-child{ padding-right:0;}

.related-div{ position:relative;}
.logo{ position:absolute; top:0; left:0; z-index:9999;}

.nav-wrapper{ width:100%; background:#000; height:47px;}
.nav-wrapper ul{ margin:0; padding:0; float:right;}
.nav-wrapper ul li{ margin:0; padding:0; float:left;}
.nav-wrapper ul li a{ font-size:12px; padding:14px 12px 15px 12px; font-weight:800; color:#FFF; text-transform:uppercase; display:inline-block;}
.nav-wrapper ul li a:hover{ background:#e41618;}

.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus { outline: none;}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav { margin: 0; padding: 0; list-style: none;}
.flex-pauseplay span {text-transform: capitalize;}
.flexslider { margin: 0; padding: 0; position:relative;}
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; position:relative;}
.flexslider .slides img { width: 100%; display: block;}
html[xmlns] .flexslider .slides {display: block;}
* html .flexslider .slides {height: 1%;}
.no-js .flexslider .slides > li:first-child {display: block;}

.slide-txt{ width:100%; position:absolute; left:0; top:20%; color:#FFF;}
.slide-txt h2{ font-size:24px; text-transform:uppercase; font-weight:800;}
.slide-txt h3{ font-size:70px; font-family: 'Roboto', sans-serif; text-transform:uppercase; font-weight:900; font-style:italic; line-height:74px; padding-top:12px;}
.slide-txt h4{ font-size:26px; text-transform:uppercase; font-weight:800; padding-top:12px;}
.link1{ display:inline-block; background:#bc292f; color:#FFF; font-size:18px; text-transform:uppercase; font-weight:800; padding:5px 25px; margin-top:18px;}
.link1:hover{ background:#ed4853; color:#FFF;}

.slide-txt h5{ text-align:center; text-transform:uppercase; font-size:70px; font-family: 'Roboto', sans-serif; font-weight:700; padding-top:50px;}
.slide-txt h6{ text-align:center; font-size:22px; font-family: 'Roboto', sans-serif;}

.flex-control-nav{ position:absolute; width:1170px; left:50%; margin-left:-575px; bottom:110px; z-index:999; text-align:center;}
.flex-control-nav li{ float:left; margin:0 5px;}
.flex-control-nav li a{ display:block; width:34px; height:34px; border:1px solid #FFF; border-radius:50%; cursor:pointer; font-size:14px; font-family: 'Roboto', sans-serif; color:#FFF; cursor:pointer; line-height:30px;}
.flex-control-nav li a.flex-active{ border:1px solid #bc292f; color:#bc292f;}

.search-bar{ position:absolute; left:0; top:0; height:46px; background:rgba(0,0,0,0.3); z-index:999; width:100%;}
.search{ width:250px; height:27px; background:#FFF; float:right; margin:8px 0 0 0; position:relative;}
.search input[type=text]{ width:100%; border:none; padding:0 25px 0 10px; margin:5px 0 0 0;}
.search input[type=submit]{ width:25px; height:25px; background:url(../images/search-icon.png) no-repeat; border:none; cursor:pointer; position:absolute; right:1px; top:1px;}

.tri{ width:104px; position:absolute; left:50%; bottom:0; margin-left:-52px; z-index:999;}

.sec-1{ background:url(../images/bg1.jpg) top center no-repeat fixed; background-size:cover; padding:100px 0; position:relative;}
.sec-1 h2{ font-size:46px; color:#FFF; font-weight:800; text-transform:uppercase; line-height:40px;}
.sec-1 h3{ font-size:17px; color:#FFF; font-weight:800; text-transform:uppercase; padding-top:20px;}
.sec-1 p{ font-size:14px; color:#FFF; padding-top:10px;}
.link2{ font-size:16px; color:#FFF; display:inline-block; border:1px solid #FFF; padding:7px 20px; margin-top:20px;}
.link2:hover{ background:rgba(255,255,255,0.7); color:#bc292f; border:1px solid #bc292f;}

.lady{ position:absolute; right:0; bottom:-155px; z-index:9;}

.sec-1 ul{ margin:0; padding:15px 0 30px 0;}
.sec-1 ul li{ margin:0; padding:0; color:#FFF;}

.sec-2{ background:url(../images/bg2.jpg) top center no-repeat fixed; background-size:cover; padding:85px 0 60px 0;}
.sec-2 h2{ font-size:50px; color:#212121; font-weight:800; text-transform:uppercase;}
.sec-2 h3{ font-size:24px; color:#212121; text-transform:uppercase; padding-top:20px; font-family: 'Roboto', sans-serif;}
.sec-2 p{ color:#000; text-transform:uppercase; padding-top:10px;}
.link3{ display:inline-block; font-size:12px; font-weight:800; text-transform:uppercase; color:#212121; border:1px solid #212121; padding:7px 25px 5px 25px; margin-top:25px;}
.link3:hover{ background:#bc292f; color:#FFF; border:1px solid #ee4853;}
.sec-2 .odd p{ text-transform:none; font-size:13px; color:#858484; padding-top:2px;}

.gym-sec{ margin:0; padding:50px 0 0 0;}
.gym-sec ul{ margin:0; padding:0;}
.gym-sec ul li{ margin:0; padding:0 8px; float:left; width:33.33%; text-align:center; background:url(../images/divider.png) left center no-repeat;}
.gym-sec ul li:first-child{ background:none;}
.sec-2 h4{ font-size:20px; color:#212121; font-family: 'Roboto', sans-serif; font-weight:800; text-transform:uppercase; padding-top:15px;}
.sec-2 h5{ font-size:12px; color:#636566; padding-top:12px;}
.gym-sec .link3{ margin-top:18px; padding-left:17px; padding-right:17px;}
.lady2{ position:absolute; left:46%; margin-left:-180px; bottom:-60px;}

.newsletter{ padding:30px 0;}
.newsletter h2{ font-size:50px; color:#212121; text-transform:uppercase; font-weight:800; font-family: 'Roboto', sans-serif;}
.newsletter p{ font-size:12px; color:#212121; text-transform:uppercase; padding:0; font-weight:500;}
.newsletter input[type=text]{ width:100%; background:#d6d6d6; border:none; height:40px; font-size:12px; text-transform:uppercase; font-weight:800; font-family: 'Roboto', sans-serif; padding-left:15px; margin-top:20px;}
.newsletter input[type=submit]{ width:100%; height:40px; font-size:12px; text-transform:uppercase; font-weight:800; font-family: 'Roboto', sans-serif; margin-top:20px; border:1px solid #8b8181; cursor:pointer; background:#FFF; color:#8b8181;}
.newsletter input[type=submit]:hover{background:#bc292f; color:#FFF; border:1px solid #ee4853; text-align:center;}
.newsletter .em{ background:#7f7f7f !important;}
.newsletter .custom{ padding-left:0;}

.sec-3{ background:url(../images/bg3.jpg) top center no-repeat fixed; background-size:cover; padding:50px 0;}
.sec-3 h2{ text-align:center; font-size:50px; color:#212121; font-weight:800; text-transform:uppercase;}
.sec-3 p{ font-size:13px; color:#212121; text-align:center; padding:0; font-weight:500;}
.sec-3 h3{ font-size:14px;}
.sec-3 h4{ font-size:13px; font-weight:800; text-transform:uppercase; padding-top:7px;}
.img-box{ position:relative;}
.img-box.odd{ margin-top:15px;}
.img-box-txt{ position:absolute; left:0; bottom:0; width:100%; background:rgba(233,70,91, 0.8); padding:15px; padding-bottom:35px; color:#FFF;}
.plus-link{ width:35px; height:35px; background:#FFF; position:absolute; bottom:1px; right:1px; text-align:center; font-size:24px; color:#e23f51;}
.plus-link:hover{ background:rgba(0,0,0,0.5); color:#FFF;}
.sec-3 .odd-col{ padding-right:0;}

.sec-4{ padding:50px 0;}
.sec-4 h2{ font-size:50px; color:#212121; font-weight:800; text-transform:uppercase;}
.sec-4 h3{ font-size:17px; color:#212121; font-weight:800; font-family: 'Roboto', sans-serif; text-transform:uppercase; padding-top:25px;}
.sec-4 p{ font-size:13px; color:#212121; padding-top:10px;}

.sec-5{ padding:50px 0; background:#e6e6e6;}
.sec-5 h2{ font-size:50px; color:#212121; font-weight:800; text-transform:uppercase;}
.prof h3{ font-size:12px; font-weight:800; text-transform:uppercase; padding-top:12px;}
.prof h4{ font-size:14px; color:#212121; text-transform:uppercase; font-weight:800; margin-top:25px; background:url(../images/divider2.png) center center repeat-x;}
.prof h4 span{background:#e6e6e6;}
.prof p{ font-size:12px; color:#858383; line-height:15px;}
.prof ul{ margin:0; padding:30px 0 0 0;}
.prof ul li{ margin:0; padding:0 1%; width:25%; float:left; text-align:center;}
.prof-img{ border-radius:50%; border:2px solid #000; padding:3px;}
.prof-img img{ border-radius:50%; }
.prof .link3{ position:absolute; top:-8px; right:0; margin-top:0; background:#e6e6e6;}
.prof .link3:hover{ background:#e45862;}

.tab-content{ display:none;}
#tab-1{display: block;}
ul.tabs-menu{ margin:15px 0 0 0; padding:0;}
.tabs-menu li{ margin:0 0 0 5px; padding:0; float:left; position:relative;}
.tabs-menu li span{ width:13px; height:7px; background:url(../images/arrow.png) no-repeat; display:inline-block; position:absolute; bottom:-7px; left:50%; margin-left:-6px; display:none;}
.tabs-menu li.current a{background:#e45862;}
.tabs-menu li.current span{ display:block;}
.tabs-menu li:hover span{ display:block;}
.tabs-menu li:first-child{ margin-left:0;}
.tabs-menu li a{ display:inline-block; font-size:11px; font-weight:800; text-transform:uppercase; background:#000; color:#FFF; padding:10px 15px;}
.tabs-menu li a:hover{ background:#e45862;}

.tab-content{ background:#FFF; margin:10px 0 0 0; padding:15px 0;}
.tab-content ul{ margin:0; padding:0;}
.tab-content ul li{ margin:3px 0 0 0; padding:0;}
.tab-content ul li a{ font-size:13px; color:#212121;}
.tab-content ul li a:hover{ color:#e45862;}

.ex-div{ position:relative; margin:15px 0 0 0;}
.ex-div ul{ margin:0; padding:0; position:absolute; right:0; top:-2px;}
.ex-div ul li{ margin:0; padding:0; float:left;}
.ex-div ul li a{ font-size:12px; color:#0a0706; text-transform:uppercase; font-family: 'Roboto', sans-serif; display:inline-block; padding:5px 8px;}
.ex-div ul li a:hover{ background:#e45862; color:#FFF;}
.ex-div ul li a.current{ background:#e45862; color:#FFF;}
.ex-div h3{ font-size:14px; color:#0a0706; font-family: 'Roboto', sans-serif; font-weight:800; text-transform:uppercase;}
.ex-div h3 span{ display:inline-block; width:20px; height:20px; background:#212121; text-align:center; color:#FFF; border-radius:50%; margin:0 5px 0 0; line-height:18px;}
.ex-div.odd{ margin-top:40px;}


.foot-wrap{ background:url(../images/bg4.jpg) top center no-repeat fixed; background-size:cover; padding:50px 0 0 0;}
.foot-wrap h2{ font-size:14px; color:#FFF; font-weight:800; text-transform:uppercase; font-family: 'Roboto', sans-serif;}
.foot-wrap p{ padding-top:20px; font-size:14px; color:#FFF;}
.foot-wrap p span{ font-size:12px; line-height:12px;}
ul.foot-nav{ margin:0; padding:20px 0 0 0;}
.foot-nav li{ margin:0 0 5px 0; padding:0;}
.foot-nav li a{ font-size:14px; color:#FFF;}
.foot-nav li a:hover{ color:#eb4651;}

ul.social{ margin:0; padding:20px 0 0 0;}
.social li{ margin:0 0 0 7px; padding:0; float:left;}
.social li:first-child{ margin-left:0;}
.social li a{ display:inline-block; width:40px; height:40px; background:#FFF; text-align:center; color:#121518; border-radius:50%; font-size:22px;}
.social li a:hover{ color:#FFF; background:#e45862;}
.social li i{ margin-top:8px;}

.foot-wrap input[type=text]{ width:100%; background:none; border:1px solid #565656; color:#565656; font-family: 'Roboto', sans-serif; height:25px; padding:0 0 0 10px; margin-top:9px; font-size:13px;}
.foot-wrap textarea{ width:100%; background:none; border:1px solid #565656; color:#565656; font-family: 'Roboto', sans-serif; height:80px; padding:10px 0 0 10px; margin-top:9px; font-size:13px;}
.foot-wrap input[type=submit]{ background:none; border:1px solid #565656; cursor:pointer; padding:4px 15px; font-size:13px; font-weight:800; text-transform:uppercase; font-family: 'Roboto', sans-serif; float:right; margin-top:9px; color:#565656;}
.foot-wrap input[type=submit]:hover{background:#bc292f; color:#FFF; border:1px solid #ee4853;}

.copy-wrapper{ width:100%; border-top:1px solid #2a2a2a; margin-top:35px; padding:20px 0;}
.copy-wrapper p{ padding:0 !important; text-align:right;}

.mob-nav{ float:right; color:#FFF; font-size:30px; padding:0 20px 0 0; cursor:pointer; display:none;}


.inner-cont{ padding:50px 0;}
.inner-cont a{ color:#e41618;}
.left-cont-inner h2{ font-size:30px; color:#e41618; font-family: 'Roboto', sans-serif; font-weight:700; text-transform:uppercase;}
.left-cont-inner h3{ font-size:24px; color:#e41618; font-family: 'Roboto', sans-serif; font-weight:700; padding-top:20px; text-transform:uppercase;}
.left-cont-inner p{ font-size:14px; color:#535353; font-family: 'Roboto', sans-serif; padding-top:15px;}

.left-cont-inner ul{ margin:0; padding:10px 0 0 0;}
.left-cont-inner ul li{ margin:8px 0 0 0; padding:0 0 0 25px; font-size:14px; color:#535353; font-family: 'Roboto', sans-serif; background:url(../images/bull.png) 0 2px no-repeat;}

.right-cont-inner h2{ background:url(../images/title.jpg) repeat-x; font-family: 'Roboto', sans-serif; font-size:24px; color:#FFF; font-weight:700; text-transform:uppercase; padding:13px 20px;}
.right-box{ border:1px solid #e9333f; border-top:none; padding:15px 25px; margin-bottom:25px;}
.right-box h3{ font-size:14px; color:#333333; font-weight:500; font-family: 'Roboto', sans-serif;}
.right-box label{ font-family: 'Roboto', sans-serif; font-size:14px; text-transform:uppercase; font-weight:800; margin-top:10px;}
.right-box input[type=text]{ width:100%; border:1px solid #e9333f; padding:10px; font-size:15px; font-family: 'Roboto', sans-serif; margin:5px 0 0 0;}
.right-box input[type=submit]{ background:#e41618; border:none; font-family: 'Roboto', sans-serif; font-size:14px; font-weight:800; text-transform:uppercase; padding:12px 30px; color:#FFF; margin-top:20px;}
.right-image-box{ margin-bottom:25px;}

.agenda-bg{ background:url(../images/bg1.jpg) top center no-repeat fixed; background-size:cover; padding:70px 0 120px 0; position:relative;}
.agenda-bg h2{ font-size:55px; color:#FFF; font-weight:900; text-transform:uppercase; font-family: 'Roboto', sans-serif;}
.agenda-bg .ex-div h3 span{ line-height:20px;}
.agenda-bg .ex-div h3{ color:#FFF;}
.agenda-bg .ex-div ul li a{ color:#FFF;}
.agenda-bg .ex-div ul li a.current{ background:#000;}
.agenda-bg .ex-div ul li a:hover{ background:#000;}
.agenda-bg .ex-div ul{ left:220px;}
.agenda-bg .tab-content{ background:rgba(255,255,255,0.7); padding-top:50px; padding-bottom:50px; margin-top:0;}
.agenda-bg .tab-content ul li a{ font-family: 'Roboto', sans-serif; font-weight:500;}

.lady-3{ position:absolute; right:0; bottom:-120px; z-index:9;}

.agenda-calender{ padding:30px 0; font-family: 'Roboto', sans-serif;}
.main-calender{ border-top:1px solid #CCC; border-left:1px solid #CCC;}
.main-calender ul{ margin:0; padding:0;}
.main-calender ul li{ padding:10px; min-height:60px; float:left; width:14%; border-bottom:1px solid #CCC; border-right:1px solid #CCC; text-align:center; position:relative;}
.main-calender ul li:last-child{ width:12%;}
.main-calender ul li:first-child{ width:4%; background:#000; color:#FFF;}
.main-calender ul li h2{ font-size:13px; font-weight:700; padding-top:4px;}
.main-calender ul li h3{ font-size:12px; font-weight:700; padding-top:8px;}
.main-calender ul li h6{ text-align:left !important; font-size:20px; padding-top:5px; font-weight:700; color:#e41618;}
.main-calender ul li h6 span{ font-size:14px; color:#FFF;}

.bdr-1{ background:#d5398a; width:100%; height:5px; position:absolute; top:0; left:0;}
.bdr-2{ background:#a1e132; width:100%; height:5px; position:absolute; top:0; left:0;}
.bdr-3{ background:#3cf; width:100%; height:5px; position:absolute; top:0; left:0;}
.bdr-4{ background:#ffc059; width:100%; height:5px; position:absolute; top:0; left:0;}
.detail-hover{ position:absolute; width:100%; background:#e45862; left:0; top:5px; color:#FFF; padding:10px; z-index:99; display:none;}
.main-calender ul li:hover .detail-hover{ display:block;}
.fst{ background:#000; color:#FFF;}
.no-bdr-btm{ border-bottom:1px solid #000 !important;}

.cross {margin-left: 10px; cursor: pointer;}
.show-selected {list-style: none;}
.show-selected li {display:inline-block; margin: 0px 4px; padding: 2px 6px; position: relative; font-size: 13px; color: #fff; line-height: 20px; background-color: rgba(0,0,0,1);}
.show-selected li a {text-decoration: none; color:inherit;}
.showtitle {position: absolute; bottom:10px; left: 0px; width: 100%; height: auto; background-color:#cccc00; color: #666600; font-size: 11px; opacity: 0; line-height: 12px; padding:8px; color:#000 !important;
           transition: all 0.4s ease; -moz-transition: all 0.4s ease; -webkit-transition: all 0.4s ease; -ms-transition: all 0.4s ease;
}
.show-selected li:hover .showtitle{display: block; bottom:30px; opacity: 1;}


@media only screen and (min-width:992px) and (max-width:1199px){
.nav-wrapper ul li a{ font-size:11px; padding-left:6px; padding-right:6px; padding-top:16px;}	
.flex-control-nav{ width:970px; margin-left:-475px; bottom:35px;}
.slide-txt h3{ font-size:50px; line-height:54px;}
.sec-1 h2{ font-size:34px; line-height:32px;}
.lady{ width:500px;}
.sec-1 ul{ padding:0;}
.sec-1 h3{ font-size:15px;}
.newsletter h2, .sec-2 h2, .sec-3 h2, .sec-4 h2, .sec-5 h2{ font-size:38px;}
.sec-4 h3{ font-size:15px;}
.sec-3 h4{ font-size:11px;}
.ex-div ul li a{ padding-left:4px; padding-right:4px;}
.tabs-menu li a{ padding-left:8px; padding-right:8px;}
.social li{ margin-left:2px;}
.slide-txt h5{ font-size:56px; padding-top:34px;}
}

@media only screen and (min-width:768px) and (max-width:991px){
.nav-wrapper{ display:none;}
.slide-txt h3{ font-size:38px; line-height:40px;}
.slide-txt h4{ font-size:14px;}	
.slide-txt h2{ font-size:14px;}
.flex-control-nav{ width:750px; margin-left:-370px; bottom:15px;}
.logo{ width:100px;}
.sec-1{ padding:50px 0;}
.sec-1 ul{ padding:0;}
.sec-1 h2{ font-size:24px; line-height:25px;}
.sec-1 h3{ font-size:14px;}
.lady{ width:400px; bottom:-88px;}
.lady2{ bottom:-50px;}
.sec-2{ padding:50px 0;}
.sec-2 h4{ font-size:13px;}
.newsletter h2, .sec-2 h2, .sec-3 h2, .sec-4 h2, .sec-5 h2{ font-size:30px;}
.gym-sec .link3{ font-size:10px; padding-left:7px; padding-right:7px;}
.sec-4 h3{ font-size:14px;}
.prof h4{ font-size:9px;}
.ex-div ul{ position:inherit; overflow:hidden; padding-top:15px;}
.tabs-menu li{ margin:5px 4px 0 0;}
.ex-div.odd{ margin-top:14px;}
.social li{ margin:7px 7px 0 0;}
.sec-3{ padding-right:15px;}
.sec-3 h4{ font-size:10px;}
.img-box-txt{ padding:5px;}
ul.tabs-menu{ margin-top:5px;}
.flexslider.odd .slides img{ height:200px;}
.slide-txt h5{ font-size:56px; padding-top:34px;}
.agenda-bg .ex-div ul{ left:0;}
.lady-3{ width:170px;}
}

@media only screen and (min-width:100px) and (max-width:991px){
.nav-wrapper{ display:none; position:absolute; top:83px; left:0; width:100%; z-index:9999; height:auto;}
.nav-wrapper ul li{ width:100%; border-top:1px dashed #4b4b4b;}
.nav-wrapper ul li:first-child{ border:none;}
.nav-wrapper ul li a{ display:block; padding:5px 8px;}
.mob-nav{ display:block;}
}

@media only screen and (max-width:767px){
.logo{ width:97px;}
.top-sec ul li{ font-size:12px; padding-left:5px; padding-right:5px;}
.slide-txt h3{ font-size:33px; line-height:35px; padding:5px 0;}
.slide-txt h2{ font-size:14px;}
.slide-txt h4{ font-size:14px; padding-top:3px;}
.flex-control-nav{ display:none !important;}
.link1{ font-size:10px; margin-top:6px;}
.slide-txt{ top:12%;}
.newsletter h2, .sec-1 h2, .sec-2 h2, .sec-3 h2, .sec-4 h2, .sec-5 h2{ font-size:25px;}
.sec-2, .sec-1{ padding-top:0px; padding-bottom:20px;}
.sec-3, .sec-4{ padding:20px 0;}
.sec-2 h2, .sec-1 h2{ padding-top:25px;}
.sec-3{ padding-right:15px;}
.lady{ width:260px; bottom:-50px;}
.lady2{ display:none;}
.sec-1 ul{ padding:0;}
.sec-1 h3{ padding:2px 0 0 0;}	
.gym-sec{ padding-top:7px;}
.sec-3 h4{ font-size:11px;}
.img-box-txt{ padding:10px;}
.img-box{ margin-bottom:15px;}
.prof h4{ font-size:12px; margin-bottom:30px;}
.ex-div ul{ position:inherit; overflow:hidden; padding-top:15px;}
.tabs-menu li{ margin:5px 4px 0 0;}
.ex-div.odd{ margin-top:14px;}
.foot-wrap{ padding:0;}
.foot-wrap .col-xs-6{ min-height:300px;}
.social li{ margin:7px 2px 0 0;}
.search-bar{ position:inherit; background:#000;}
.bdr-top{ border-top:1px dashed #4b4b4b;}
.bdr-left{ border-left:1px dashed #4b4b4b;}
.foot-wrap h2{ padding-top:20px;}
.col-left-pad{ padding-left:15px;}
.gym-img{ margin-top:25px;}
.tri{ width:50px; margin-left:-25px;}
.copy-wrapper{ margin-top:0;}
.foot-wrap input[type="submit"]{ margin-bottom:25px;}
.nav-wrapper{ top:80px;}
.flexslider.odd .slides img{ height:200px;}
.slide-txt h5{ font-size:56px; padding-top:34px;}
.agenda-bg .ex-div ul{ left:0;}
}

@media only screen and (min-width:586px) and (max-width:767px){
.sec-3 .odd-col{ width:25%;}
.img-box-txt{ position:inherit;}	
}

@media only screen and (min-width:200px) and (max-width:479px){
.top-sec ul li{ width:100%; text-align:right; border:none; padding:0; border-bottom:1px solid #CCC; padding:4px 0;}
.top-sec ul li:first-child{ border-bottom:1px solid #CCC;}	
.logo{ width:95px;}
.slide-txt h3{ font-size:20px; line-height:20px;}
.slide-txt h2{ font-size:12px;}
.slide-txt h4{ font-size:12px;}
.slide-txt{ top:7%;}
.sec-1{ margin-top:-1px;}
.sec-3 h4{ font-size:9px;}
.img-box-txt{ padding:2px;}
.foot-wrap .col-xs-6{ min-height:325px;}
.newsletter .custom{ width:100%;}
.newsletter input[type="text"]{ margin-top:6px;}
.newsletter input[type="submit"]{ margin-top:6px;}
.sec-2 h4{ font-size:13px;}
.gym-sec .link3{ font-size:10px; padding-left:6px; padding-right:6px;}
.nav-wrapper{ top:125px;}
.mob-nav{ padding:0 10px 0 0;}
.lady-3{ width:170px;}
}

